<?php

if (!class_exists('\Symfony\Component\ClassLoader\UniversalClassLoader')) {
    require_once __DIR__ . '/vendor/Symfony/Component/ClassLoader/UniversalClassLoader.php';
}

$loader = new \Symfony\Component\ClassLoader\UniversalClassLoader();
$loader->registerNamespaces(array(
    'TwigGenerator'         => __DIR__.'/src',
    'TwigGenerator\Tests'   => __DIR__.'/tests',
    'Symfony\Component'     => __DIR__.'/vendor',
));
$loader->registerPrefixes(array(
    'Twig_' => __DIR__.'/vendor/twig/lib',
));
$loader->register();
